/* reset */
div, p {
  padding: 0;
  margin: 0;
}

a { 
  text-decoration: none;
  color: #ccc;
}

a:visited {
  color: #ccc;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #ccc;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-y: hidden;
}

/* set a rem */
html {
  font-size: 12px;
}